<div class="container banner" style="">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-12 margin-form">
      <div class="text-center">
        <h1>SuitUp!</h1>
      </div>

      <h3>Look good for your special occasion</h3>
      <h3>Make money renting your closet garments</h3>

      <%= form_tag items_path, method: "get", class: "form-control input-lg" do %>
        <%= select_tag :category, options_for_select(Item::CATEGORIES) %>
        <%= select_tag :size, options_for_select(Item::SIZES) %>
        <%= text_field_tag :location, "", class: "input-lg",  placeholder: "Where?" %>

        <div class="form-group">
          <div class='input-group date datetimepicker' id='datetimepicker1'>
            <%= text_field_tag :pick_up, "", class: "input-lg",  placeholder: "Pickup date?"  %>
          </div>
          <div class='input-group date datetimepicker' id='datetimepicker2'>
            <%= text_field_tag :drop_off, "", class: "input-lg",  placeholder: "Pickup date?"  %>
          </div>
        </div>
        <%= submit_tag "Search", class: "btn btn-primary btn-lg" %>
      <% end %>

      <% content_for(:after_js) do %>
        <script type="text/javascript">
          $(function () {
            $('#datetimepicker1').datetimepicker({
              locale: 'en'
            });
          });
        </script>
      <% end %>

      <% content_for(:after_js) do %>
        <script type="text/javascript">
          $(function () {
            $('#datetimepicker2').datetimepicker({
              locale: 'en'
            });
          });
        </script>
      <% end %>

    </div>
  </div>
</div>

