<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= Item::SIZES.key(@item.size.to_i) %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @item.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @item.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @item.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= Item::CATEGORIES.key(@item.category.to_i) %>
</p>

<% if current_user == @item.owner %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>
<%= link_to 'Back', items_path %>
